.navbar-margin {
  padding-right: 10rem;
}

.social {
  width: 10%;
}

.dropdown-language {
  border: none;
  background: none;
}

.site-container {
  padding-top: 1rem;
}

.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background: white;
}
