<nav class="navbar navbar-expand-md">
    <div class="navbar-margin navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item px-2">
                <fa-icon [icon]="['fas', 'home']"></fa-icon>
            </li>
            <li class="nav-item px-2">
                <fa-icon [icon]="['far', 'calendar']"></fa-icon>
            </li>
            <li class="nav-item px-2">
                <fa-icon [icon]="['fas', 'bell']"></fa-icon>
            </li>
            <li class="nav-item px-2">
                <fa-icon [icon]="['fas', 'user']"></fa-icon>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
<div id="footer">
</div>