<div class="dashboard-activity">
  <div class="dashboard-blue-diagonal-div"></div>
  <div class="dashboard-green-diagonal-div"></div>

  <div class="attivita-container">
    <div class="prossime-attivita">
      <ng-container *ngFor="let act of nextLessons">
        <activity-container [lesson]="act"></activity-container>
      </ng-container>
    </div>

    <div class="pending-attivita">
      <ng-container *ngFor="let act of pendingLessons">
        <activity-container [lesson]="act"></activity-container>
      </ng-container>
    </div>
  </div>
</div>

<div class="padding-div"></div>

<div class="dashboard-allenati-con-noi">
  <div class="dashboard-blue-diagonal-div">
    <div class="allenati-con-noi-content">
      <p>
        Allenati con noi all'Arco della Pace <br />
        Tutte le domeniche
      </p>
      <button type="button" class="btn btn-primary">SCOPRI DI PIÙ</button>
    </div>
  </div>
</div>

<div class="dashboard-container-avvisi mt-5">
  <div class="avvisi-header row mb-5">
    <div class="icona-avvisi col">
      <fa-icon [icon]="['fas', 'bell']"></fa-icon> Avvisi
    </div>
    <div class="col">
      <div class="mostra-tutti float-right">Mostra tutti</div>
    </div>
  </div>

  <div class="avvisi-accordion-list float-none">
    <ngb-accordion [closeOthers]="true" activeIds="static-0">
      <ng-container *ngFor="let avviso of avvisi; index as i">
        <ngb-panel id="static-{{ i }}" title="{{ avviso.title }}">
          <ng-template ngbPanelContent>
            {{ avviso.text }}
          </ng-template>
        </ngb-panel>
      </ng-container>
    </ngb-accordion>
  </div>
</div>

<div class="dashboard-scarica-app mt-5">
  <div class="dashboard-blue-diagonal-div">
    <div class="scarica-app-content">
      <p>SCARICA ORA LA NUOVA APP</p>
      <div class="row">
        <img class="app-store-button col" src="../../assets/googlePlay.png" />
        <img class="app-store-button col" src="../../assets/Apple-store.png" />
      </div>
    </div>
  </div>
  <div class="app-mock float-right">
    <img class="image-app" src="../../assets/app.png" />
  </div>
</div>

<div class="dashboard-new-carousel mt-5">
  <div class="row">
    <ng-container *ngFor="let articoli of magazine">
      <div class="card articleCard">
        <img class="card-img-top mt-1" src="{{ articoli.thumbnail }}" />
        <a href="#" class="btn btn-primary btn-chevron">
          <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon
        ></a>
        <div class="card-body">
          <h5 class="card-title">{{ articoli.title }}</h5>
          <p class="card-text">
            {{ articoli.text }}
          </p>
          <p class="card-text article-date">
            {{ articoli.date | date: "dd/MM/yyyy" }}
          </p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
