.dashboard-activity {
  height: 200px;
  background-color: #d4df5d;
  position: relative;
}

.dashboard-blue-diagonal-div {
  height: 100%;
  width: 55%;
  background-color: #013066;
  float: left;
  -webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}
.dashboard-green-diagonal-div {
  height: 100%;
  width: 45%;
  float: right;
}

.dashboard-allenati-con-noi {
  height: 120px;
  width: 50%;
  margin-left: 400px;
  margin-right: 400px;
  background-image: url("../../assets/arco-clipped2.png");
  background-color: #d4df5d;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
  background-repeat: no-repeat;
}

.allenati-con-noi-content {
  margin-left: 40px;
  margin-top: 10px;
}
.allenati-con-noi-content > p {
  color: white;
  font-family: "Roboto", sans-serif;
}

.attivita-container {
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  position: absolute;
  margin-top: 6%;
}

.prossime-attivita {
  float: left;
}

.pending-attivita {
  float: right;
}

.padding-div {
  margin-top: 17%;
}

.dashboard-container-avvisi {
  width: 50%;
  margin-left: 400px;
  margin-right: 400px;
}

.dashboard-scarica-app {
  height: 120px;
  width: 50%;
  margin-left: 400px;
  margin-right: 400px;
  background-color: #d4df5d;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
  background-repeat: no-repeat;
}

.scarica-app-content {
  margin-left: 40px;
  margin-top: 20px;
  color: #d4df5d;
}

.app-mock {
  width: 30%;
}

.app-store-button {
  max-width: 25%;
}

.image-app {
  max-width: 45%;
}

.dashboard-new-carousel {
  width: 70%;
  margin-left: 5%;
}

.articleCard {
  width: 20%;
  height: 20%;
  margin-left: 10px;
}

.btn-chevron {
  width: 40%;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  margin-top: -5%;
}

.card-title,
.mostra-tutti {
  color: #ffc107;
}

.articleCard {
  font-size: small;
  float: right;
  width: 20%;
}

.article-date {
  font-size: smaller;
  color: #797979;
}

.magazine-header {
  margin-left: 15%;
}
