<div class="dashboard-activity-container">
    <div class="dashboard-blue-diagonal-div"></div>
    <div class="dashboard-green-diagonal-div"></div>
</div>
<p style='margin:50px'></p>
<div class="dashboard-allenati-con-noi">
    <div class="dashboard-blue-diagonal-div">
        <div class="allenati-con-noi-content">
        <p>
            Allenati con noi all'Arco della Pace <br/>
            Tutte le domeniche
        </p>
        <button type="button" class="btn btn-primary">Scopri di più</button>
        </div>
    </div>
</div>